# Board: Waveshare ESP32-P4-WiFi6-Touch-LCD-4.3 (480x800 MIPI DSI)
CONFIG_KSIG_BOARD_WAVE_43=y
CONFIG_KSIG_PN532_DEDICATED_I2C=y
CONFIG_KSIG_PN532_I2C_PORT=-1
CONFIG_KSIG_PN532_SDA_GPIO=28
CONFIG_KSIG_PN532_SCL_GPIO=31
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_USE_FONT_COMPRESSED=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
