# Board: Waveshare ESP32-P4-WiFi6-Touch-LCD-4.3 (480x800 MIPI DSI)
CONFIG_KSIG_BOARD_WAVE_43=y
CONFIG_KSIG_PN5180_ENABLED=y
CONFIG_KSIG_PN5180_SPI_HZ=1000000
CONFIG_KSIG_PN5180_PIN_SCK=52
CONFIG_KSIG_PN5180_PIN_MOSI=51
CONFIG_KSIG_PN5180_PIN_MISO=50
CONFIG_KSIG_PN5180_PIN_NSS=49
CONFIG_KSIG_PN5180_PIN_BUSY=31
CONFIG_KSIG_PN5180_PIN_RST=30
CONFIG_KSIG_PN5180_PIN_IRQ=-1
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_USE_FONT_COMPRESSED=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
