CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_NFC_BRINGUP_I2C_PORT=-1
CONFIG_NFC_BRINGUP_PIN_SDA=28
CONFIG_NFC_BRINGUP_PIN_SCL=31
CONFIG_NFC_BRINGUP_I2C_HZ=100000
