CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_PN5180_BRINGUP_PIN_SCK=52
CONFIG_PN5180_BRINGUP_PIN_MOSI=51
CONFIG_PN5180_BRINGUP_PIN_MISO=50
CONFIG_PN5180_BRINGUP_PIN_NSS=49
CONFIG_PN5180_BRINGUP_PIN_BUSY=31
CONFIG_PN5180_BRINGUP_PIN_RST=30
CONFIG_PN5180_BRINGUP_PIN_IRQ=-1
CONFIG_PN5180_BRINGUP_SPI_HZ=1000000
